<div >
    <h1 class="main-title">Our products</h1>
    <button id="see-cart-button" onclick="seeCart(event)">See Cart</button>
    <p id="productsBoxIndex"></p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/script.index.js"></script> 